name: VN Stock Bot

on:
  schedule:
    - cron: '30 0 * * 1-5'  # 07:30 VN time
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - run: pip install -r requirements.txt

      - name: Fetch data
        run: python fetch_data.py

      - name: Run bot
        run: python app.py
